/* src/features/BookLobby/BookLobbyModal.module.css */

.backdrop {
    background-color: oklch(0% 0 0 / 0.5);
    position: fixed;
    inset: 0;
    z-index: 100;
    animation: fadeIn 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}